# top-most EditorConfig file
root = true

# All PHP files MUST use the Unix LF (linefeed) line ending.
[*]
charset = utf-8
end_of_line = lf

# All PHP files MUST end with a single blank line.
insert_final_newline = true

# There MUST NOT be trailing whitespace at the end of non-blank lines.
trim_trailing_whitespace = true

# PHP-Files
[*.php]
# Code MUST use an indent of 4 spaces, and MUST NOT use tabs for indenting.
indent_style = space
indent_size = 4

# CSS-Files
[*.css]
indent_style = tab
indent_size = 4

# HTML-Files
[*.html]
indent_style = tab
indent_size = 4

# TMPL-Files
[*.tmpl]
indent_style = tab
indent_size = 4

# LESS-Files
[*.less]
indent_style = tab
indent_size = 4

# JS-Files
[*.js]
indent_style = tab
indent_size = 4

# JSON-Files
[*.json]
indent_style = tab
indent_size = 4

# ReST-Files
[*.rst]
indent_style = tab
indent_size = 4

# MD-Files
[*.md]
indent_style = space
indent_size = 4

# package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
