language: php
php:
  - "7.0"
sudo: false
services:
  - docker

env:
  - PHP_VERSION=5.6 ENABLE_MCRYPT=0 COVERALLS=0
  - PHP_VERSION=5.6 ENABLE_MCRYPT=1 COVERALLS=0
  - PHP_VERSION=7.0 ENABLE_MCRYPT=0 COVERALLS=0
  - PHP_VERSION=7.0 ENABLE_MCRYPT=1 COVERALLS=0
  - PHP_VERSION=7.1 ENABLE_MCRYPT=0 COVERALLS=0
  - PHP_VERSION=7.1 ENABLE_MCRYPT=1 COVERALLS=0
  - PHP_VERSION=7.0 ENABLE_MCRYPT=0 COVERALLS=1

matrix:
  allow_failures:
    - env: PHP_VERSION=5.6 ENABLE_MCRYPT=0 COVERALLS=0
    - env: PHP_VERSION=7.0 ENABLE_MCRYPT=0 COVERALLS=0
    - env: PHP_VERSION=7.0 ENABLE_MCRYPT=0 COVERALLS=1
    - env: PHP_VERSION=7.1 ENABLE_MCRYPT=0 COVERALLS=0
  fast_finish: true

cache:
  directories:
    - ./vendor

install:
  - curl -sS https://getcomposer.org/installer | php
  - travis_retry php composer.phar install

script:
  - ./util.sh run-test

after_script:
  - ./util.sh upload-coverage
