<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="5.3">
            <directory suffix=".phpt">tests/5.3</directory>
        </testsuite>
        <testsuite name="5.4">
            <directory suffix=".phpt">tests/5.4</directory>
        </testsuite>
        <testsuite name="5.5">
            <directory suffix=".phpt">tests/5.5</directory>
        </testsuite>
        <testsuite name="5.6">
            <directory suffix=".phpt">tests/5.6</directory>
        </testsuite>
        <testsuite name="7.0">
            <directory suffix=".phpt">tests/7.0</directory>
        </testsuite>
        <testsuite name="passing">
            <file>tests/5.6/mcrypt_cbc.phpt</file>
            <file>tests/5.6/mcrypt_cbc_3des_decrypt.phpt</file>
            <file>tests/5.6/mcrypt_cbc_3des_encrypt.phpt</file>
            <file>tests/5.6/mcrypt_cfb.phpt</file>
            <file>tests/5.6/mcrypt_ecb.phpt</file>
            <file>tests/5.6/mcrypt_ofb.phpt</file>
            <file>tests/5.6/mcrypt_rijndael128_128BitKey.phpt</file>
        </testsuite>
    </testsuites>
</phpunit>
